//设置宽高
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

//定位上下左右居中
@mixin center($width, $height, $padding) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: (-$height - $padding) / 2;
  margin-left: (-$width - $padding) / 2;
}